.about-page {
    background-color: lightblue;
}

.about-page h1 {
    color: white;
    text-align: center;
}

.about-page p {
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
}

.about-page h2 {
    color: white;
    margin-top: 30px;
    text-align: center;
}

.scroll-container {
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.scroll-container img {
    display: inline-block;
    padding: 10px;
}

