.home {
  margin: 0;
  padding: 2rem 1rem;
}

.home h1 {
    color: var(--color-text);
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 60vh;
    max-height: 600px;
    max-width: 400px;
    margin: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
